You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a single dedicated `.py` file called `01ex_introduction.py`.

You can divide the individual exercises in the source code with appropriate comments (`#`).

The exercises need to run without errors with `python3 01ex_introduction.py`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [24]:
results = []
for i in range(1,101):
    if((i%3==0)and(i%5!=0)):
        print("Hello")
        results.append("Python")
    elif (i%5==0)and(i%3!=0):
        print("World")
        results.append("Works")
    elif (i%5==0)and(i%3==0):
        print("HelloWorld")
        results.append("PythonWorks")
    else:
        print(i)
        results.append(i)
results_tuple=tuple(results)
print(results_tuple)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables `x` and `y` from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [16]:
x=input("Define the value of x: ")
print("Value of x: ", x)
y=input("Define the value of y: ")
print("Value of y: ", y)
x, y= y, x
print("Final value of x: ", x)
print("Final value of y: ", y)

Define the value of x: 10
Value of x:  10
Define the value of y: 20
Value of y:  20
Final value of x:  20
Final value of y:  10

3\. **Computing the distance**

Write a program that calculates and prints the euclidean distance between two given points $u$ and $v$ in a 2D space, where $u$ and $v$ are both 2-tuples $(x,y)$.

Example: if $u=(3,0)$ and $v=(0,4)$, the function should return $5$.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [4]:
import math
u_1, u_2 = input("Insert the value for u_1: "), input("Insert the value of u_2: ")
u_1, u_2 = float(u_1), float(u_2)
u = (u_1, u_2)
v_1, v_2 = input("Insert the value for v_1: "), input("Insert the value of v_2: ")
v_1, v_2 = float(v_1), float(v_2)
v = (v_1, v_2)
euclidean_distance = math.sqrt((u_1-v_1)**2+(u_2-v_2)**2)
print("The euclidean distance is: ", euclidean_distance)

Insert the value for u_1: 3.0
Insert the value of u_2: 0
Insert the value for v_1: 0
Insert the value of v_2: 4.0
The euclidean distance is:  5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The test strings are:

In [3]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [6]:
string1 = s1.lower()
string2 = s2.lower()
alphabet="abcdefghijklmnopqrstuvxyz"
s1_occ = {}
s2_occ = {}
for j in alphabet:
    s1_occ[j] = string1.count(j)
    s2_occ[j] = string2.count(j)
print(s1_occ.keys(), s1_occ.values())
print(s2_occ.keys(), s2_occ.values())

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'z']) dict_values([7, 5, 1, 5, 20, 10, 1, 11, 12, 0, 0, 12, 8, 10, 15, 8, 0, 19, 7, 19, 7, 2, 0, 0, 0])
dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'z']) dict_values([1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 4, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1])

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers (numbers with only one occurrence) in the list:

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [9]:
occ = []
temp_occ = 0
for i in range(0,len(l)):
    temp_occ = l.count(l[i])
    if (temp_occ > 1):
        temp_occ = 0
    elif (temp_occ == 1):
        occ.append(l[i])
        temp_occ = 0
print("The length of the list containing only unique number is: ", len(occ))
print("The list itself containing only unique numbers is: ", occ)

The length of the list containing only unique number is:  37
The list itself containing only unique numbers is:  [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

Do the same exploiting only the Python data structures.

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [10]:
in1, in2 = input("Write the value of the first variable: "), input("Write the value of the second variable: ")
try:
    num1, num2 = int(in1), int(in2)
    print(num1 + num2)
except:
    ;
try:
    fl1, fl2 = float(in1), float(in2)
    print(fl1 + fl2)
except:
    ;
try:
    st1, st2 = str(in1), str(in2)
    print(st1 + st2)
except:
    ;

Write the value of the first variable: 3
Write the value of the second variable: 5
8
8.0
35

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [36]:
acub = []
for i in range(0,11):
    acub.append(i**3)
print(acub)
bcub = [x**3 for x in range(11)]
print(bcub)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [37]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [38]:
a_com = [(i, j) for i in range(3) for j in range(4)]
print(a_com)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [36]:
in_100 = [x for x in range(0,100)]
li_tri = [(a, b, c) for a in range(1,100) for b in range(1,100) for c in range(0,100) if ((a**2)+(b**2)==(c**2))]
i = 0
while i<len(li_tri):
    for j in range(0, len(li_tri)):
        if ((li_tri[i][0]==li_tri[j][1])and(li_tri[i][2]==li_tri[j][2])):
            li_tri.remove(li_tri[i])
            i = i-1
            break
    i +=1
i=0
print(li_tri)
while i<len(li_tri):
    for j in range(0, len(li_tri)):
        if ((i!=j)and(li_tri[j][0]%li_tri[i][0]==0)and(li_tri[j][1]%li_tri[i][1]==0)and(li_tri[j][2]%li_tri[i][2]==0)and((li_tri[j][0]/li_tri[i][0])==(li_tri[j][1]/li_tri[i][1]))):
            li_tri.remove(li_tri[j])
            i = i-1
            break
    i +=1

print(len(li_tri))
li_tri = tuple(li_tri)
print(li_tri)

[(4, 3, 5), (8, 6, 10), (12, 5, 13), (12, 9, 15), (15, 8, 17), (16, 12, 20), (20, 15, 25), (21, 20, 29), (24, 7, 25), (24, 10, 26), (24, 18, 30), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41), (40, 30, 50), (42, 40, 58), (44, 33, 55), (45, 24, 51), (45, 28, 53), (48, 14, 50), (48, 20, 52), (48, 36, 60), (52, 39, 65), (55, 48, 73), (56, 33, 65), (56, 42, 70), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (63, 16, 65), (63, 60, 87), (64, 48, 80), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]
16
((4, 3, 5), (12, 5, 13), (15, 8, 17), (21, 20, 29), (24, 7, 25), (35, 12, 37), (40, 9, 41), (45, 28, 53), (55, 48, 73), (56, 33, 65), (60, 11, 61), (63, 16, 65), (72, 65, 97), (77, 36, 85), (80, 39, 89), (84, 13, 85))

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [44]:
import math
xin = [x for x in range(0,25)]
N = len(xin)
sm = 0
for i in range(0, N):
    sm += xin[i]**2
sm = math.sqrt(sm)
for i in range(0, N):
    xin[i] = round(xin[i]/sm, 2)
print(xin)
sm_tot = 0
for i in range(0, N):
    sm_tot += xin[i]**2
print("Sum: ", sm_tot)

[0.0, 0.01, 0.03, 0.04, 0.06, 0.07, 0.09, 0.1, 0.11, 0.13, 0.14, 0.16, 0.17, 0.19, 0.2, 0.21, 0.23, 0.24, 0.26, 0.27, 0.29, 0.3, 0.31, 0.33, 0.34]
Sum:  0.9981999999999999

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [12]:
Fib = {}
for i in range(0,20):
    if (i==0):
        Fib[i] = 0
    if (i==1):
        Fib[i] = 1
    elif ((i!=0)and(i!=1)):
        Fib[i] = Fib[i-1] + Fib[i-2]
print(Fib)

{0: 0, 1: 1, 2: 1, 3: 2, 4: 3, 5: 5, 6: 8, 7: 13, 8: 21, 9: 34, 10: 55, 11: 89, 12: 144, 13: 233, 14: 377, 15: 610, 16: 987, 17: 1597, 18: 2584, 19: 4181}